a, button, li, p, h2 {
  font-family: 'Archivo Narrow', sans-serif;
}

#footer {
  background-color: #468966;
  color: #FFF0A5;
}

.echospan {
  color: #468966;
}

#header {
  background-color: #FFB03B;
}

#header h1 {
  color: #FFFFFF;
}

.submit {
  background-color: #468966;
  color: #FFF0A5;
}

.submit:hover {
  background-color: #FFB03B;
  color: white;
}
