@import url(http://fonts.googleapis.com/css?family=Quattrocento|Maven+Pro|Raleway|Poiret+One);
body {
    background-color: white;
    font-family: 'Quattrocento', serif;
}

h1,
nav,
button {
    font-family: 'Raleway', sans-serif;
}

#header {
    background-color: #F2D45B;
    width: 100%;
}

#footer {
    background-color: #D57246;
    width: 100%;
    color: white;
}

#header h1 {
    color: white;
}

ul.sidenav li a:hover {
    background-color: #A34567;
    color: #B35678;
}

h1 {
    color: #2C3539;
}

h2 {
    font-family: 'Poiret One', cursive;
    color: #C45D67;
}

h3 {
    font-family: 'Maven Pro', sans-serif;
    color: #D56E78;
    font-weight: bold;
}

b {
    color: #E67F89;
}

p {
    color: #234567;
}

.submit {
    background-color: #789123;
    color: #345678;
}

.submit:hover {
    background-color: #1B2B3F;
    color: white;
}
