@import url("//fonts.googleapis.com/css?family=Asar|Archivo%20Narrow");
body {
  font-family: 'Asar', serif;
}

a, button, li, p, h2 {
  font-family: 'Archivo Narrow', sans-serif;
}

#footer {
  background-color: #468966;
  color: #FFF0A5;
}

.echospan {
  color: #468966;
}
